html
  include partials/head.pug
  body
    h1 Kim's Convenience
    h3= `Season ${season.number}`
    table
      thead 
        tr
          th No.
          th Title
          th Director
      tbody 
        for episode in season.episodes
          tr
            td(id='epNum')= episode.number
            td(id='epName')= episode.title  
            td(id='epDir')= episode.director
          tr
            td(id='synopsis' colspan='3')= episode.synopsis
          

